h1 {
    color: red;
}

* {
    box-sizing: border-box;
}
body{
    background-color: #e3e2e4;
    font-family: Calibri;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased !important;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
    text-decoration: none !important;
    color: inherit;
}

div{
    background-color: inherit;
}

div#categories{
    position: relative;
    float: left;
    width: 20%;
    color: blue;
    background-color: white;
    padding-top: 0px;
    margin: 0px;
    margin-right: 1%;

}

div#header1{
    height: 30px;
    background-color: #363636;
    margin: 0px;
}

div#header2{
    height: 60px;
    display: flex;
    background-color: #2b2b2b;
    margin: 0px;
    position: relative;
    align-items: center;

}
.flex-container{
    position: relative;
    left: 20%;
    margin-left: 1%;
    display: flex;
    height: 40px;
    width: 80%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

button {
    text-align: center;
    font-family: Calibri;
    -webkit-font-smoothing: antialiased !important;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
     margin-right: 0.7%;
}

button:focus {
    outline: 0 !important;
}

div#header2 button{

    height: 35px;
    margin: 5px;
    border: none;
    background-color: #2b2b2b;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #e3e2e4;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

div#header2 button:hover{
    color: white;
}

div#header2 button:focus{
    background-color: #363636;
}

ul#category-list{
    box-sizing: border-box;
    background-color: white;
    padding: 2px;
    margin: 0px
}

ul#category-list>li{
    list-style-type: none;
    list-style-image: none;
    background-color: #2b2b2b;
    height: 30px;
    display: flex;
    color: white;
    font-size: 12px;
    flex-direction: row;
    padding-left: 15px;
    margin: 5px;
    margin-bottom: 8px;
    line-height: 25px;
}

ul#category-list>li:hover{
    background-color: #FAA121;
}


ul#category-list li button{
    flex: 2;
    height: 18px;
    width: 20px;
    max-width: 20px;
    align-self: flex-end;
    flex-grow: 0.1;
    margin-right: 10px;
    margin-bottom: 3px;
    padding-right: 4px;
    color: white;
    border-radius: 5px;
    padding-left: 3px;
    background-color: #5B3158;
    border: none;

}
li a{
    align-self: flex-start;
    flex: 1;
    flex-grow: 1;
}

div#addon-listing{
    display: block;
    color: black;
}

ul.addons{
    list-style: none;
    list-style-image: none;
    margin:0px;
    padding: 0px;
}

li.group{
    list-style: none;
    border-top: 0px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
}

.title{
    font-size: 17px;
    height: 20px;
    font-family: Helvetica;
    display: block-inline;
    margin-left: 10px;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased !important;
    vertical-align: middle;
    padding-top: 5px;
    flex-grow: 2;
}

div.install-button{
    align-self: flex-end;
    flex-grow: 0.02;
    background-color: transparent;;
}

div.versions{
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
div#main{
    color: transparent;
    box-sizing: border-box;
    float: left;
    left: 0px;
    width: 1200px;
    max-width: 79%;
    background-color: white;

}

div#body{
    box-sizing: border-box;
    padding: 0.7%;
}

div#body-header {
    display: flex;
    box-sizing: border-box;
    height: 45px;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    padding: 0.7%;
}
.light-button{
    width: 100px;
    height: 30px;
    background-color: white;
    background: linear-gradient(#f3f3f3, #d8d8d8);
    font-size: 15px;
    margin-left: 1px;
}

.light-button:hover{
    background: linear-gradient(white, #e3e2e4);
}

.double-border{
    box-shadow: 0px 0px 0px 1px darkgrey;
    border: 1px solid white;
}

.ui-selectmenu-button, .ui-menu-item,  input {
    background-color: #e3e3e3 !important;
}

/* select.dropdown{
    display: inline-block;
    height: 30px;
    padding-left: 5px;
    background-color: #e3e3e3;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    width: 120px;
    margin-left: 15px;
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
*/

.ui-selectmenu-button{
    box-sizing: border-box;
    width: 180px !important;
    border-radius: 0px;
    height: 30px !important;
    margin: 0px !important;
    text-align: center;
    line-height: 1.2;
    border: 1px solid white;
}

.ui-selectmenu-button:focus{
    outline: none !important;
    border: 1px solid white;
}

.ui-selectmenu-button:active{
    outline: none !important;
    border: none;
}

.ui-selectmenu-button:hover{
    background-color: #e3e3e3;
    outline: none !important;
    border: 1px solid white;
    font-weight: bold;
}

.ui-menu-item-wrapper {
    height: 30px !important;
    margin: 0px;
    padding: 0px;
}

.ui-state-active, .ui-state-active:hover{
    background-color: orange !important;
    border: 0px !important;
}

input{
    flex-grow: 1;
    height: 30px;
    background-color: #e3e3e3;
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding-left: 25px;
}

input:focus{
    outline: none !important;
}
i#search-icon{
    position: relative;
    z-index: 1;
    padding: 0px;
    color: darkgrey;
    left: 20px;
    margin: 0px;
}

button.install{
    max-width: 150px;
    float: right;
    margin-right: 12px;
    margin-bottom: 8px;
}

p{
    background-color: green;
    text-align: center;
    margin: 0px;
    width: 100px;
    display: inline-block;
    align-self: flex-end;
    max-width: 100px;
    font-size: 14px;
    color: white;
    border-radius: 3px;
    margin-bottom: 1px;
    height: 16px;
    margin-right: 0px;
}

/* popup */

div#popup-container{

}

.overlay{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.a-popup {
  margin: 70px auto;
  padding: 20px;
  background: lightgrey;
  width: 500px;
  position: relative;
  transition: all 5s ease-in-out;
}

.a-popup .close {
  position: absolute;
  top: 5px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.a-popup .close:hover {
  color: orange;
}

.a-popup-content{

}

#a-popup-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
