<!doctype html>
<head>
    <title>Hello from Flask</title>
    <link href="static/style.css" type="text/css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/ebe5abf147.js"></script>
</head>
<body>
<!--    {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello, World!</h1>
    {% endif %} -->
    <div id="header1">

    </div>
    <div id="header2">
        <div class="flex-container">

            <button><i class="fa fa-check fa-lg"></i> Installed</button>
            <button><i class="fa fa-search fa-lg" aria-hidden="true"></i> Find More</button>
            <button><i class="fa fa-gear fa-lg"></i> Options</button>
        </div>

    </div>

<div id="body">

    <div id="categories">
        <ul id="category-list">
            <li>
                    <a href="">Category </a><button>12</button>
            </li>
            <li>
                Category1
            </li>
            <li>
                Category1
            </li>
        </ul>
    </div>
    <div id="main">
        <div id="body-header">
            <button class="light-button double-border">Update All</button>
            <select class="dropdown"><Option>
                Sort by: TITLE
            </Option><Option>
                Sort by: DATE
            </Option></select>
            <i id="search-icon" class="fa fa-search fa2x" aria-hidden="true"></i>
            <input id="search" btype="text" name="search" placeholder="Search..." />
        </div>
        <div id="addon-listing">
            <ul class="addons">
                <li class="group">
                    <div class="title">
                        Title of Addon
                    </div>
                    <div>

                    </div>
                    <div class="install-button">
                        <button class="light-button double-border install">Install</button>
                    </div>
                </li>
                <li class="group">
                    <div class="title">
                        Title of Addon2
                    </div>
                    <div class="versions">
                        <p class="new">
                            21.3.32
                        </p>
                        <p class="installed">
                            dskdsjkdjs
                        </p>
                    </div>
                    <div class="install-button">
                        <button class="light-button double-border install">Install</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
